{% load tangerine_tags %}

{% block blogroll %}
  {% include "tangerine/include/sidebar_blogroll.html" %}
{% endblock blogroll %}

{% block categories %}
  {% include "tangerine/include/sidebar_categories.html" %}
{% endblock categories %}

{% block recent_comments %}
  {% include "tangerine/include/sidebar_recent_comments.html" %}
{% endblock recent_comments %}

{% block date_archive %}
  {% include "tangerine/include/sidebar_date_archive.html" %}
{% endblock date_archive %}

{% block all_blogs %}
  {% include "tangerine/include/sidebar_all_blogs.html" %}
{% endblock all_blogs %}
