
<h3>Comments</h3>

<p><b>There are {{ post.get_all_comments_num }} comments on this post</b></p>

{% for comment in post.top_level_comments %}

    {% include "tangerine/include/comment_block.html" %}

    {% if comment.child_comments %}
        {% for comment in comment.child_comments %}
            <div style="margin-left: 40px;">
                {% include "tangerine/include/comment_block.html" %}
            </div>
        {% endfor %}
    {% endif %}

{% endfor %}

{#  Anchor to new comment form #}
<a name="new_comment"></a>
<h3>Add a Comment</h3>
<form action="." method="post" id="new_comment_form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="parent_id" id="parent_id" value="" />
    <input type="submit" value="Submit" />
</form>
