{% load tangerine_tags %}

{# Page anchor for comment permalinks #}
<a id="comment-{{ comment.id }}"></a>

<p>
    {# Some sites may want to remove the comment.website link in order not to encourage self-promotion by commenters #}
    {% if comment.website %}
        <a href="{{ comment.website }}">{{ comment.name }}</a>
    {% else %}
        {{ comment.name }}
    {% endif %}
    on {{ comment.modified }}

    <a href="#comment-{{ comment.id }}">&para;</a>

    {% if user.is_superuser %}
        [<a href="{% url 'admin:tangerine_comment_change' comment.id %}">e</a>]
    {% endif %}
</p>

{# Get commenter's avatar from Gravatar service by email addr. Replace number with preferred dimensions. #}
<img src="{{ comment.email|gravatar:60 }}" alt="" />

{{ comment.body|safe|linebreaks }}

{#  Populate Reply link with current comment ID #}
<p><a class="new_comment_link" data-parent-id="{% if comment.parent %}{{ comment.parent.id }}{% else %}{{ comment.id }}{% endif %}" href="#new_comment">Reply</a></p>

<hr />
