{% if posts %}

  {% for post in posts %}
    <div class="news-item">
      <h2>
        <a href="{{ post.get_absolute_url }}">
          {{ post.title }}
        </a>
      </h2>

      {% include "tangerine/include/byline.html" %}

      {% if post.summary %}
        {{ post.summary|safe }}
      {% else %}
        {{ post.content|truncatewords:20|safe }}
      {% endif %}

      <p class="num_comments_per_post">
        {{ post.num_comments }} comment{{ post.num_comments|pluralize }}
      </p>

      {% include "tangerine/include/edit_link.html" %}
    </div>

  {% endfor %}

  {#  Navigate between pages of results #}
  <div class="row">
    <div class="col">
      {% if posts.has_previous %}
        <div class="float-left page-item">
          <a href="?page={{ posts.previous_page_number }}">Newer posts</a>
        </div>
      {% endif %}
    </div>

    <div class="col">
      {% if posts.has_next %}
        <div class="float-right page-item">
          <a href="?page={{ posts.next_page_number }}">Older posts</a>
        </div>
      {% endif %}
    </div>
  </div>

{% else %}
  <p>No results found, sorry.</p>
{% endif %}
