<h2>
    <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
    </a>
</h2>

<p>
    {{ post.created|date:"DATE_FORMAT"}}
    {% if post.author %}
        by {{ post.author.get_full_name }}
    {% endif %}
</p>

{# List categories for this post #}
{% if post.categories.count %}
    {% include "tangerine/include/post_detail_categories.html" %}
{% endif %}


{% if post.summary %}
    {{ post.summary|safe }}
{% else %}
    {{ post.content|truncatewords:20 }}
{% endif %}

{% include "tangerine/include/edit_link.html" %}
