<h2>
    <a href="{% url 'tangerine:post_detail' post.created.year post.created.month post.created.day post.slug %}">
        {{ post.title }}
    </a>
</h2>

<p>{{ post.created|date:"DATE_FORMAT"}} by {{ post.author.get_full_name }}</p>

{# List categories for this post #}
{% include "tangerine/include/post_detail_categories.html" %}

{% if post.summary %}
    {{ post.summary|safe }}
{% else %}
    {{ post.content|truncatewords:20 }}
{% endif %}

{% include "tangerine/include/edit_link.html" %}

