{% extends "tangerine/base.html" %}
{% load tangerine_tags %}


{% block title %}
  {{ block.super }} Date archive:
  {% if year and month and day %}
    {{ req_date|date:"F d, Y" }}
  {% elif year and month %}
    {{ req_date|date:"F, Y" }}
  {% else %}
    {{ req_date|date:"Y" }}
  {% endif %}
{% endblock title %}

{% block content %}
  {% get_settings blog_slug as tangerine %}
  {% include "tangerine/include/blog_title.html" %}

  <h3>Viewing posts by date:
    {% if year and month and day %}
      {{ req_date|date:"F d, Y" }}
    {% elif year and month %}
      {{ req_date|date:"F, Y" }}
    {% else %}
      {{ req_date|date:"Y" }}
    {% endif %}
  </h3>

  {% include "tangerine/include/post_loop.html" %}

{% endblock content %}
