{% extends "tangerine/base.html" %}
{% load tangerine_tags %}

{% block title %}{{ block.super }}Author: {{ author }}{% endblock title %}

{% block content %}

  <h3>About {{ author.user.get_full_name }}</h3>

  <p><img src="{{ author.avatar.url }}" /></p>

  <p>{{ author.about|safe }}</p>

  <hr />

  <h2>Posts by {{ author.user.get_full_name }}</h2>

  {% if author_posts %}
    <ul>
    {% for post in author_posts %}
        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> - {{ post.pub_date|date:"SHORT_DATE_FORMAT" }}</li>
    {% endfor %}
    </ul>
  {% endif %}


{% endblock content %}
