{% extends "base.html" %}
{# Above assumes your site's main template is base.html - season to taste. #}

{% block title %}{% endblock title %}

{% block tangerine_extra_head %}{% endblock tangerine_extra_head %}
{% block tangerine_extra_css %}{% endblock tangerine_extra_css %}
{% block tangerine_extra_js %}{% endblock tangerine_extra_js %}

{% block content %}{% endblock content %}
{% block blogroll %}{% endblock blogroll %}
{% block categories %}{% endblock categories %}

{% block footer %}
    {% include "tangerine/include/footer.html" %}
{% endblock footer %}
