{% extends "base.html" %}
{% load tangerine_tags %}
{# Above assumes your site's main template is base.html - change as needed. #}

{% get_settings as tangerine %}

{% block title %}
    {% get_settings as tangerine %}
    {{ tangerine.site_title }} -
{% endblock title %}

{% block tangerine_extra_head %}{% endblock tangerine_extra_head %}
{% block tangerine_extra_css %}{% endblock tangerine_extra_css %}
{% block tangerine_extra_js %}{% endblock tangerine_extra_js %}

{% block content %}{% endblock content %}
{% block blogroll %}{% endblock blogroll %}
{% block categories %}{% endblock categories %}

{% block footer %}
    {% include "tangerine/include/footer.html" %}
{% endblock footer %}
