{% extends "tangerine/base.html" %}
{% load tangerine_tags %}

{% block title %}foobar blog{% endblock title %}

{% block content %}
    {% get_settings as tangerine %}
    {% include "tangerine/include/post_loop.html" %}
{% endblock content %}


{% block blogroll %}
    {% get_related_links 'blogroll' as link_group %}
    {% if link_group %}
        <h3>Blogroll</h3>
        <ul>
            {% for link in link_group.links %}
                <li><a href="{{ link.site_url }}">{{ link.site_title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock blogroll %}

{% block categories %}
    {% get_categories as cats %}
    {% if cats %}
        <h3>Categories</h3>
        <ul>
            {% for cat in cats.categories %}
                <li><a href="{% url 'tangerine:category' cat.slug %}">{{ cat.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock categories %}
