{% extends "tangerine/base.html" %}
{% load tangerine_tags %}

{% block title %}foobar blog{% endblock title %}

{% block content %}
    {% for post in posts %}

        {% include "tangerine/include/post_loop.html" %}

    {% endfor %}
{% endblock content %}


{% block blogroll %}
    {% get_related_links 'blogroll' as link_group %}
    <h3>Blogroll</h3>
    <ul>
    {% for link in link_group.links %}
        <li><a href="{{ link.site_url }}">{{ link.site_title }}</a></li>
    {% endfor %}
    </ul>
{% endblock blogroll %}
