{% extends "tangerine/base.html" %}
{% load tangerine_tags %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    {% get_settings as tangerine %}

    <h2>{{ post.title }}</h2>

    {% if post.ptype == 'post' %}
        {% include "tangerine/include/byline.html" %}
    {% endif %}

    {{ post.content|safe }}

    {% include "tangerine/include/edit_link.html" %}

    {#  Enable comments for this view? #}
    {% if tangerine.enable_comments_global and post.enable_comments %}
        {% if tangerine.comment_system == 'native' %}
            {% include "tangerine/include/comments.html" %}
        {% endif %}
        {#  Inject other comment systems here #}
    {% endif %}

{% endblock content %}
