{% extends "tangerine/management/base.html" %}
{% load tangerine_tags %}

{% block title %}Comment Moderation{% endblock title %}

{% block content %}

    <h3>Comment Moderation</h3>

    <p><a href="{% url 'admin:tangerine_comment_changelist' %}?approved__exact=0">Batch-delete unapproved comments in Django admin</a></p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                  <thead class="thead-inverse">
                    <tr class="row">
                        <th class="col-sm-3">Name/Email/Web</th>
                        <th class="col-sm-5">Post/Comment</th>
                        <th class="col-sm-2">Approve</th>
                        <th class="col-sm-1">Edit</th>
                    </tr>
                  </thead>
                  <tbody>

                      {% for comment in comments %}
                          <tr class="row">
                              <td class="col-sm-3">
                                  <small>
                                  {{ comment.name }}<br />
                                  {{ comment.email }}<br />
                                  {{ comment.created|date:"N d, Y" }}, {{ comment.created|date:"P"}}<br />
                                  {% if comment.website %}
                                      <a href="{{ comment.website }}" target="_blank"><small>{{ comment.website }}</small></a>
                                  {% endif %}
                              </small>
                              </td>
                              <td class="col-sm-5">
                                  {{ comment.body|truncatewords:10}}<br />
                                      <small>
                                          <a href="#" class="modalViewLink" data-toggle="modal" data-comment-body="{{ comment.body }}"
                                              data-target="#commentModal">Preview</a> |
                                          <a href="{{ comment.post.get_absolute_url }}">OP</a>
                                      </small>

                              </td>
                              <td class="col-sm-2">
                                  <a
                                    href="{% url 'tangerine:toggle_comment_approval' comment.id %}"
                                    class="btn btn-sm btn-outline-{% if comment.approved %}primary{% else %}success{% endif %}">
                                    {% if comment.approved %}Unapprove{% else %}Approve{% endif %}
                                  </a>
                              </td>
                              <td class="col-sm-2">
                                  <a href="{% url 'admin:tangerine_comment_change' comment.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                              </td>
                          </tr>
                      {% endfor %}

                  </tbody>
                </table>
            </div>
        </div>
    </div>

    <nav aria-label="Comments page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>

            {% if comments.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ comments.previous_page_number }}">&larr;</a></li>
            {% endif %}

            {#  show current/active #}
            <li class="page-item active"><a class="page-link" href="?page={{ comments.number }}">{{ comments.number }}</a></li>

            {% if comments.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ comments.next_page_number }}">&rarr;</a></li>
            {% endif %}

            <li class="page-item">
                <a class="page-link" href="?page={{ comments.paginator.num_pages }}">&raquo;</a>
            </li>
        </ul>
    </nav>

    <div class="modal fade" id="commentModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Comment preview</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="modalCommentBody"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block extra_js %}
    {#  When "view" link clicked, send that comment's body into the modal viewer  #}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".modalViewLink").click(function() {
                var comment_text = $(this).data('commentBody');
                $('p#modalCommentBody').text(comment_text);
            });
        });
    </script>
{% endblock extra_js %}
